*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    
}

*{
    background-color: rgb(136, 228, 228);
}


/* Text align Centre */

#m1{
    text-align: center;
    background-color: rgb(14, 231, 159);
}

/* Jutify  */
#j1{
text-align: justify center;
}

